<header>
    <nav>
        <a href="/">MayRemember</a>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">New Product</a></li>
        </ul>
    </nav>
</header>